@import "zindex"

.pc-patch-canvas 
  position: relative
  z-index: map-get($zindex, canvas)
  min-height: 100vh
  width: 100%

.pc-box 
  position: absolute
  display: flex
  z-index: map-get($zindex, box)
  height: auto
  width: intrinsic

  .is-top-right, .is-top-left, .is-bottom-left, .is-bottom-right
    @extend .mx-1
    @extend .my-1

  .is-top-right
    position: absolute
    top: 0
    right: 0

  .is-top-left
    position: absolute
    top: 0
    left: 0

  .is-bottom-left
    position: absolute
    bottom: 0
    left: 0

  .is-bottom-right
    position: absolute
    bottom: 0
    right: 0

.pc-line-container
  user-select: none
  z-index: map-get($zindex, lineContainer)
  height: 100%
  width: 100%

.pc-line 
  stroke-width: 4px
  stroke: $black
  z-index: map-get($zindex, line)

.pc-inlets, .pc-outlets 
  position: relative

.pc-inlets 
  top: -2rem
  left: 30%

.pc-outlets 
  top: 2rem
  left: -40%

.pc-inlet, .pc-outlet
  display: inline-block
  border-radius: 100%
