$zindex: (
  lineContainer : -1,
  canvas        : 0, 
  shadow        : -1000,
  line          : 7000,
  box           : 8000,
  draggable     : 8100,
  control       : 9000
);

.has-z-index-canvas {
  z-index: map-get($zindex, canvas)
}

.has-z-index-shadow {
  z-index: map-get($zindex, shadow)
}

.has-z-index-below-canvas {
  z-index: map-get($zindex, lineContainer) 
}

.has-z-index-control {
  z-index: map-get($zindex, control)
}
