<flex-container class="is-flex is-justify-content-center">
  <glow-container class="is-glowing has-text-centered">
    <h1 class="title is-1">
      <%= content %>
    </h1>
  </glow-container>
</flex-container>
