<pc-footer-content class="content has-text-centered">
  <p><small>
    <strong>PatchCable</strong> by <a href="https://github.com/garrettmichaelgeorge">Garrett George</a>.
    The source code for this project is available on
    <a href="https://github.com/garrettmichaelgeorge/patch_cable">GitHub.</a>
  </small></p>
</pc-footer-content>
