<nav
  class="navbar"
  role="navigation"
  aria-label="main navigation"
  data-controller="activate"
  data-activate-is-active-value="false"
  data-activate-active-class="is-active"
>
  <nav-brand class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      PatchCable
    <% end %>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-action="activate#toggle"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </nav-brand>

  <nav-menu
    id="navbar-menu"
    class="navbar-menu"
    data-activate-target="activatable"
  >
    <nav-start class="navbar-start">
      <%= link_to patches_path, class: "navbar-item" do %>
        Patches
      <% end %>

      <%= link_to "/about", class: "navbar-item" do %>
        About
      <% end %>
    </nav-start>

    <nav-end class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light">
            <strong>
              <%= t("helpers.submit.create", model: "patch") %>
            </strong>
          </a>
        </div>
      </div>
    </nav-end>
  </nav-menu>
</nav>
