<%= tag.fieldset class: "menu is-clipped is-w-min-content has-background-light" do %>
  <ul class="menu-list">
    <li>
      <button id="<%= dom_class(patch, :create) %>"
              class="button"
              data-reflex="click->Box#create"
              data-patch-id="<%= patch.id %>">
        <%= icon_tag :plus, class: "is-small" %>
      </button>
    </li>
    <li>
      <button id=""
              class="button">
        <span class="icon is-small">
          <i class="fas fa-italic"></i>
        </span>
      </button>
    </li>
    <li>
      <button class="button">
        <span class="icon is-small">
          <i class="fas fa-underline"></i>
        </span>
      </button>
    </li>
  </ul>
<% end %>
