<p><%= patch.boxes.count %></p>

<%= tag.pc_boxes id: dom_class(patch.boxes),
                 data: { controller: "box" } do %>
  <%# render partial: "patches/box", collection: patch.boxes %>

  <% patch.boxes.each do |box| %>
    <%= box_component box %>
  <% end %>

<% end %>
