<%= content_for :header_body do %>
  <%= render "shared/titles", title: t(".title"),
                              subtitle: "All the patches" %>
<% end %>

<section class="section">
  <pc-container class="container has-text-centered">
    <% @patches.each do |patch| %>
    <ul>
      <li>
        <%= link_to patch.name, patch_path(patch.id) %>
      </li>
    </ul>
    <% end %>
  </pc-container>
</section>
