<!-- <svg id="mySVG" data-controller="patch-cable"> -->
<!--   <line id="myLine" /> -->
<!-- </svg> -->

<%# tag.pc_button id: "start-audio", data: { controller: "nexus" } %>
<%# tag.div id: "sine", data: { controller: "sine" } %>

<header class="hero has-text-centered">
  <pc-hero-body class="hero-body">
    <h1 class="title is-3">Patch View</h1>
    <h2 class="subtitle is-5"><%= @patch.name %></h2>
  </pc-hero-body>
</header>

<section class="section">
  <%= tag.pc_canvas id: "pc-canvas",
                       class: "container",
                       style: "display: block; height: 80vh; background-color: #dddddd",
                       data: { controller: "drag" } do %>
    <%= tag.div id: "box",
                class: "box",
                style: "position: relative",
                data: { action: token_list("mousedown->drag#drag",
                                           "mousemove->drag#move",
                                           "mouseup->drag#drop") } %>
  <% end %>
</section>
