@import "./drag";

.pc-patch-canvas {
  min-height: 100vh;
  width: 100%;
}

.pc-box {
  height: auto;
  width: intrinsic;
  position: absolute;
}

.pc-line-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
}

.pc-line {
  stroke-width: 2px;
  stroke: #000000;
}

.pc-inlets, .pc-outlets {
  position: relative;
}

.pc-inlets {
  top: -2rem;
  left: 28%;
}

.pc-inlet, .pc-outlet {
  margin: 0 0.5em;
}

.pc-outlets {
  top: 2rem;
}
