@import "zindex"

.pc-patch-canvas 
  position: relative
  min-height: 100vh
  width: 100%
  z-index: map-get($zindex, canvas)

.pc-box 
  height: auto
  width: intrinsic
  position: absolute
  display: flex
  z-index: map-get($zindex, box)

.pc-line-container
  user-select: none
  width: 100%
  height: 100%
  z-index: map-get($zindex, lineContainer)

.pc-line 
  stroke-width: 2px
  stroke: $black
  z-index: map-get($zindex, line)

.pc-inlets, .pc-outlets 
  position: relative

.pc-inlet, .pc-outlet 
  margin: 0 0.5em

.pc-inlets 
  top: -2rem
  left: 30%

.pc-outlets 
  top: 2rem
  left: -40%
